<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto Maknyuss</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="manifest" href="./app.webmanifest">
</head>

<body>
    <a class="skip-link" href="#content" tabindex="1">Skip to Content</a>

    <nav>
        <div class="logo-box">
            <a href="#">Resto Maknyus</a>
        </div>
        <button class="menu-btn" aria-label="Toggle Menu">☰</button>
        <ul class="menu-listing">
            <li><a href="">Beranda</a></li>
            <li><a href="favorites.html">Favorites</a></li>
            <li>
                <a href="https://www.linkedin.com/in/adi-suryadi-b5265630b/" target="_blank">About Us</a>
            </li>
        </ul>
    </nav>

    <div class="hero-section">
        <img src="./images/heros/hero-image_4.jpg" alt="Hero Image">
    </div>

    <h2 id="content">Discover Restaurants</h2>

    <div class="restaurant-container"></div>

    <footer>
        <p>© 2024 - Resto Maknyuss</p>
    </footer>

    <script src="script.js"></script>
</body>

</html>